{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block container %}
    {% set character = srv.user.character %}

    <h1>Atouts</h1>

    {% if userCreatable %}<p><a href="{{ path( route ~ '.new') }}" class="btn btn-success" >Nouveau</a></p>{% endif %}


    {% for item in items -%}
            <a class="bo-label" style="transform: rotate({{- rotate( item.id ) }}deg);" href="{{ path( route ~ '.show', { 'itemSlug': item.slug }) }}">{{ item -}}
                {%- if srv.filter.hasItem( item ) %}<span>possédé</span>{% endif -%}
            </a>
    {%- endfor %}


{% endblock %}