body {
    background-image: url("../pictures/backgrounds/wood-medium.jpg");
}

h1 {
    font-size: 70px;
    padding-left: 40px;
}

/** FIX CHECKBOXES **/
[type="checkbox"] {
    outline: none;
}
[type="checkbox"]:checked:after {
    left: 0.12em;
    top: -0.61em;
    outline: none;
}

[type="checkbox"]:before {
    left: 0;
}


/** Font Form **/

.form-control {
    background-color: unset;
}



.container {
    position: relative;
    background-image: url("../pictures/backgrounds/brown-leather-2.png");
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 15px 15px 15px 3px;
    border: 2px solid;
    border-color: rgba( 135,76,52,0.3) rgba( 61,36,26,0.4) rgba( 31,17,10,0.6) rgba( 61,36,26,0.4);
    height: 1354px;

    -webkit-box-shadow: 3px 3px 7px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 7px 2px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 7px 2px rgba(0,0,0,0.75);

}

.page {
    position: relative;

    -webkit-box-shadow: inset 0 0 50px 0 rgba(138,124,100,0.85), 1px 2px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 0 50px 0 rgba(138,124,100,0.85), 1px 2px 5px 0 rgba(0,0,0,0.75);
    box-shadow: inset 0 0 50px 0 rgba(138,124,100,0.85), 1px 2px 5px 0 rgba(0,0,0,0.75);

    background-image: url("../pictures/backgrounds/paper-fold.png"), url("../pictures/backgrounds/paper-2.jpg");
    background-size: 100%, auto;
    background-repeat: no-repeat, repeat;
    background-position: 0 1280px, 0 0;
    padding: 50px 20px 20px 60px;
    min-height: 1314px;
    margin-bottom: 50px;
}

.page::before {

    display: block;
    position: absolute;
    top: 15px;
    left: -24px;

    content:'';
    width: 48px;
    height: 1275px;
    background-image: url("../pictures/misc/ring.png");

}

/**
######### BOOKMARKS ########
 */

.bo-bookmarks {
    position: absolute;
    top: 8px;
    padding-left: 5px;
    left: 40px;
    overflow: hidden;
}

.bo-bookmarks span {
    font-family: 'Fredoka One', cursive;
    font-weight: normal;
    font-size: 20px;
    display: inline-block;
    color : rgba(255,210,0,0.85);
    /*color: gold;*/
    padding-bottom: 10px;

    position: relative;
    top: -155px;
    transition: all 0.3s;
    z-index: 1000;
    width: 60px;
    height: 210px;

    background: url("../pictures/bookmark/bookmark-2.png") center bottom;
    background-size: 100%;
}

.bo-bookmarks a {
    text-align: right;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    display: inherit;
    color : rgba(255,210,0,0.85);
    height: 80%;
}

.bo-bookmarks div {
    margin-left: 6px;
    width: 49px;
    height: 12px;
    position: absolute;
    z-index: 1100;
    /*border: 1px solid blue;*/
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.bo-bookmarks span:hover {
    top: 0;
}

.bo-bookmarks i {
    margin: 3px 0 10px 0;
    font-size: x-large;
}

.bo-bookmarks li{
    display: flex;
}


/**
######### BOOKMARKS ########
 */
.bo-label {
    width : 210px;
    height : 136px;

    display: inline-block;
    position: relative;
    margin: 5px;
    padding-top: 22px;

    background-image: url("../pictures/label/label-classic.png");

    /*-webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.19);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.19);*/

    text-align: center;
    text-decoration: none;
    font-size: x-large;
    z-index: 0;
}

.bo-label:hover {
    text-decoration: none;
}

.bo-label span{
    position: absolute;
    width: 90px;
    height: 50px;
    display: inline-block;

    background: url("../pictures/label/label-clipped-1.png") no-repeat;
    background-size:contain;

    transform: rotate(-30deg);

    z-index: 50;

    bottom: 0;
    right:0;
}