
.cs-sheet {
    /*font-size: small;*/
    position: relative;
    font-family: "Optima Nova", Verdana, serif;
    font-weight: 300;
}

.cs-sheet a {
    text-decoration: none;
}


.cs-sub {
    position: relative;
}
.cs-sub:before {
    content: '';
    display: block;
    width: 80%;
    border-bottom: 2px dotted darkgrey;
    height: 20px;
    position: absolute;
    top: 1px;
    left: 0;
}

.cs-sub-15:before {
    width: 150px;
}

.cs-hw {
    font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

.cs-sheet .col-1, .cs-sheet .col-2, .cs-sheet .col-3, .cs-sheet .col-4, .cs-sheet .col-5, .cs-sheet .col-6,
.cs-sheet .col-7, .cs-sheet .col-8, .cs-sheet .col-9, .cs-sheet .col-10,.cs-sheet .col-11,.cs-sheet .col-12 {
    padding-right: 0;
    padding-left: 0;
}
.cs-sheet .row {
    margin: 0;
}
.cs-sheet > div:first-child {
    position: relative;
}

.cs-sheet ul {
    padding: 0;
}

.cs-sheet li {
    list-style-type: none;
}


.cs-page-a {
    position: relative;
    background: white;
    transform: rotate(0.5deg);
    padding: 20px;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
}

.cs-page-a:before {
    position: absolute;
    content: '';
    display: block;
    width: 200px;
    height: 50px;
    background-image: url("../pictures/tape/tape-1.png");
    background-size: cover;
    top: -25px;
    left: 50%;
    transform: translate( -50%, 0 ) rotate( -8deg);
    z-index: 99;
}

.cs-trinite {
    width : 150px;
}

.cs-trinite h4 {
    text-align: center;
}

.cs-dark-green {
     position: relative;
     background-color: #edece7;
     padding: 58px 24px 24px 24px;
 }

.cs-dark-green h3 {
    position: absolute;
    top: -5px;
    left: 0;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    color: #1c546d;
    font-size: 26px;
}

.cs-dark-green h3::before {
    position: relative;
    content: "\f14a";
    color: white;
    display: inline-block;
    height: 50px;
    width: 40px;
    top: 7px;
    left: -5px;
    background: #1c546d;
    text-align: center;
    padding-top: 10px;
    font-size: 34px;
    font-family: "Font Awesome 5 Free";
}

.cs-brown {
    position: relative;
    background-color: #d9d0c8;
    padding: 58px 24px 24px 24px;
}

.cs-brown h3 {
    position: absolute;
    top: -5px;
    left: 0;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    color: #aa502b;
    font-size: 26px;
}

.cs-brown h3::before {
    position: relative;
    content: "\f14a";
    color: white;
    display: inline-block;
    height: 50px;
    width: 40px;
    top: 7px;
    left: -5px;
    background: #aa502b;
    text-align: center;
    padding-top: 10px;
    font-size: 34px;
    font-family: "Font Awesome 5 Free";
}

.cs-cell-title {
    outline: 2px solid #5f5f5f;
    outline-offset: -1px;
    background: #1c546d;
    color: white;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.cs-row-content div {
    outline: 2px solid #5f5f5f;
    outline-offset: -1px;
}

.cs-row-content:nth-child(even) div{
    background: #e6ebf1;
}

.cs-row-content:nth-child(odd) div{
    background: white;
}

.cs-page-b {
    position: relative;
    left:-5px;
    background: #f0eade;
    transform: rotate(-0.3deg);
    padding: 20px;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
}

.cs-page-b:before {
    position: absolute;
    content: '';
    display: block;
    width: 200px;
    height: 50px;
    background-image: url("../pictures/tape/tape-1.png");
    background-size: cover;
    top: -25px;
    left: 50%;
    transform: translate( -50%, 0 ) rotate( 10deg);
    z-index: 99;
}

.cs-trinite-sheet {
    height : 400px;
    background: url("../pictures/backgrounds/trinite-symbol.png") center 10px no-repeat;
    background-size: 30%;
}

