.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10,.col-11,.col-12 {
    padding-right: 10px;
    padding-left: 10px;
}

.b-red{
    border: 1px solid red;
}

/****************************
    Feuille de personnage
 ****************************/

.cs-sheet {
    /*font-size: small;*/
}

.cs-sheet .col-1, .cs-sheet .col-2, .cs-sheet .col-3, .cs-sheet .col-4, .cs-sheet .col-5, .cs-sheet .col-6,
.cs-sheet .col-7, .cs-sheet .col-8, .cs-sheet .col-9, .cs-sheet .col-10,.cs-sheet .col-11,.cs-sheet .col-12 {
    padding-right: 0;
    padding-left: 0;
}
.cs-sheet .row {
    margin: 0;
}

.cs-trinite {
    width : 150px;
}

.cs-trinite h4 {
    text-align: center;
}

.cs-brown > div{
    background-color: #d8cec6 ;
    margin: 5px;
}

.cs-cell-title {
    border: 1px solid #37373f;
    background: #1c546d;
    color: white;
    font-weight: bold;
}

.cs-row-content div {
    border: 1px solid #37373f;
}

.cs-row-content:nth-child(even) div{
    background: #e6ebf1;
}

.cs-row-content:nth-child(odd) div{
    background: white;
}