<ul class="nav {#flex-column#} bo-bookmarks w-100">
    {% for item in srv.user.menu %}
    <li class="nav-item">
        <div></div><span><a class="nav-link" href="{{ path( item.route ) }}" >{{ item.title }}</a><i class="w-100 text-center fas fa-{{ item.icon }}"></i></span>
    </li>
    {% endfor %}
</ul>