<ul class="nav {#flex-column#} bo-bookmarks">
    {% for item in srv.user.menu %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path( item.route ) }}" >{{ item.title }}</a>
    </li>
    {% endfor %}
</ul>