{% extends 'core.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        {#<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display+SC|Fredoka+One" rel="stylesheet">#}
        <link href="{{ asset('css/book.css') }}" rel="stylesheet">
    {% endblock %}

    {% block body %}

        {#<div class="body d-flex align-items-stretch">#}
            {#<div class="container d-flex align-items-stretch">#}
                {#<div class="page flex-fill">#}

        {% include 'block/navbar.block.html.twig' %}
            <div class="container">
                {% include 'block/bookmarks.block.html.twig' %}
                <div class="page">
                    {% block top_container %}

                        {% include 'block/flashbag.block.html.twig' %}
                    {% endblock %}

                    {% block container %}
                    {% endblock %}

                </div>
            </div>

    {% endblock %}