{% extends 'core.html.twig' %}


    {% block body %}
        {% block top_container %}
            {% include 'block/navbar.block.html.twig' %}
            {% include 'block/flashbag.block.html.twig' %}
        {% endblock %}
        <div class="container-fluid">
            {% block container %}
            {% endblock %}
        </div>
    {% endblock %}

