{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block container %}
    {% set character = user.character %}

        <h1>Objet</h1>

        {% if userCreatable %}<p><a href="{{ path( route ~ '.new') }}" class="btn btn-success" >Nouveau</a></p>{% endif %}

        Liste
        <ul>
            {% for item in items %}
                <li><code><a href="{{ path( route ~ '.show', { 'itemSlug': item.slug }) }}">{{ item }}</a></code>{{ filter.hasItem( item ) ? ' possédé' }}</li>
            {% endfor %}
        </ul>

{% endblock %}