{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block container %}
    {% set character = user.character %}

        <h1>Objet</h1>

        Liste des atouts
        <ul>
            {% for item in items %}
                <li><a href="{{ path( class ~ '.show', { 'itemSlug': item.slug }) }}">{{ item }}</a>{{ filter.hasItem( item ) ? ' possédé' }}</li>
            {% endfor %}
        </ul>

{% endblock %}