{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block container %}
    {% set character = user.character %}

        <h1>Objet</h1>

        Liste des atouts
        <ul>
            {% for asset in items %}
                <li><a href="{{ path('asset.show', { 'itemSlug': asset.slug }) }}">{{ asset }}</a>{{ filter.hasItem( asset ) ? ' possédé' }}</li>
            {% endfor %}
        </ul>

{% endblock %}