{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block container %}

        <h1>Objet</h1>

        <p><a href="{{ path('asset.new') }}" class="btn btn-success" >Nouveau</a></p>

        Liste des atouts
        <ul>
        {% for asset in items %}
            <li><a href="{{ path('asset.show', { 'itemSlug': asset.slug }) }}">{{ asset }}</a></li>
        {% endfor %}
        </ul>

{% endblock %}