{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block container %}

    {% if item.writer == user.character %}
        <a href="{{  path( 'master.' ~ route ~ '.show', { 'itemSlug': item.slug }) }}" class="btn btn-success" > éditer </a>
    {% endif %}

        <h1>{{ item }}</h1>

{% endblock %}