{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block container %}

    <h1>Personnages</h1>

    <ul>
        {% for character in characters %}
            <li>{{ character.name }}<a href="{{ path('player.character.index', { 'characterSlug' : character.slug }) }}">{{ character.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
