{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block container %}
    {% set character = user.character %}

    {% if item.writer == user.character %}
        <a href="{{  path( route ~ '.edit', { 'itemSlug': item.slug }) }}" class="btn btn-success" > éditer </a>
    {% endif %}

        <h1>{{ item }}</h1>

        <p>Titre : {{ item.title }}</p>
        <p>{{ item.text }}</p>

{% endblock %}