{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block container %}
    {% set character = user.character %}

    <div class="example-wrapper">
        <h1>{{ item }}</h1>

        <p>Titre : {{ item.title }}</p>
        <p>{{ item.text }}</p>

{% endblock %}